<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
              http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5"
         xmlns="http://java.sun.com/xml/ns/javaee">

  <!-- Servlets -->
  
  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>WebInfo.html</welcome-file>
  </welcome-file-list>
  
   <servlet>
    <servlet-name>teamStageAction</servlet-name>
    <servlet-class>cz.plsi.webInfo.actions.TeamStageAction</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>teamStageAction</servlet-name>
    <url-pattern>/webinfo/teamStageAction</url-pattern>
  </servlet-mapping>
  
  
   <servlet>
    <servlet-name>exportAction</servlet-name>
    <servlet-class>cz.plsi.webInfo.actions.export.ExportData</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>exportAction</servlet-name>
    <url-pattern>/webinfo/exportAction</url-pattern>
  </servlet-mapping>
  
  

</web-app>
